@import './vars.scss';

@font-face {
	font-family: Roboto;
	src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
	font-family: JetBrains-Mono;
	src: url('./assets/fonts/JetBrainsMono-Regular.ttf');
}

:global(body),
:global(html) {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: $primary-color;
	font-family: Roboto;
	color: $font-color;
	scroll-behavior: smooth;
}

:global(section) {
	width: 90vw;
	margin: 0 auto;
	padding: 50px 0;
	padding-top: 100px;
	margin-bottom: 20vh;
}

:global(p) {
	margin: 0;
}

:global(a) {
	text-decoration: none;
	color: $action-color;
}

:global(a:hover) {
	color: white;
}

:global(.section-title) {
	padding-bottom: 2.5rem;
	font-size: 21pt;
	font-weight: bold;
	font-family: JetBrains-Mono;
}

:global(::-webkit-scrollbar) {
	width: 5px;
}

:global(::-webkit-scrollbar-track) {
	background: $primary-color;
}

:global(::-webkit-scrollbar-thumb) {
	background: $font-color;
}

:global(::-webkit-scrollbar-thumb:hover) {
	background: $font-color;
}

:global(.animate-in) {
	animation-duration: 1s;
	animation-name: fade-up-in;
	animation-fill-mode: forwards;
}

@media only screen and (min-width: 768px) {
	:global(section) {
		width: 60vw;
	}

	:global(.section-title) {
		font-size: 26pt;
	}
}

@media only screen and (min-width: 1200px) {
	:global(section) {
		width: 50vw;
	}
}
